body {
    background-color: blanchedalmond
}

.article-image {
    height: auto;
    width: 20vw;
}

#homepage-link {
    position: absolute;
    top: 0px;
    left: 10px;
    color: blue
}

#homepage-link:hover {
    color: blueviolet
}

#sign-in-details {
    position: absolute;
    text-align: right;
    top: 0px;
    right: 10px;
}

#sign-in-page-link {
    color: blue
}

#sign-in-page-link:hover {
    color: blueviolet
}

#article-query-labels > label {
    margin-right: 4vw
}

.sign-in-card {
    padding-bottom: 2rem;
}

.sign-in-avatar {
    height: auto;
    width: 50px;
    display: grid;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

#navigation-bar {
    text-align: center;
}

.nav-item {
    margin: 5vw;
    color: blue;
}

.nav-item:hover {
    color: blueviolet;
}

#article-stat-counts > .article-stat-count {
    margin-right: 5vw;
}

#article-contents-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 45%;
}

#article-contents-header {
    text-align: center;
}

#article-contents-author {
    margin-left: 44%
}

#article-details {
    display: grid;
    justify-content: center;
}

#comment-adder {
    display: grid;
}

#comment-textbox {
    resize: none;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 100%;
    height: 100px;
    overflow: auto;
    background-color: rgb(251, 248, 242);
}

.comment-created-at-label {
    margin: 10px;
}

#article-contents-created-at {
    margin: 10px
}

.article-card {
    display: grid
}

.article-link {
    font-size: 1.5rem;
    color: blue
}

.article-link:hover {
    color: blueviolet
}

.topic-link {
    color: blue
}

.topic-link:hover {
    color: blueviolet
}